.credits {
  color: #fff;
  width: 100%;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
}

.credits .cast-container {
  position: relative;
  display: flex;
  overflow-x: visible;
  box-sizing: border-box;
}

.credits .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  color: #fff;
  justify-content: center;
  z-index: 20;
  background: rgba(20, 20, 20, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.5s;
  opacity: 0.5;
}

.credits .handle:hover {
  opacity: 1;
}

.credits .handlePrev {
  left: 0;
}

.credits .handleNext {
  right: 0;
}

.slider .animating {
  transition: transform 0.75s;
  pointer-events: none;
}
