.details {
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .details {
    grid-template-columns: minmax(75%, 3fr) 1fr;
  }
}
