.videos .video-trailer {
  width: 49%;
  display: inline-block;
  margin-right: 5px;
}

.videos .video-trailer .video-trailer-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.videos .video-trailer .video-trailer-wrapper iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
