.trailer-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.trailer-modal .modal-header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.trailer-modal .loader {
  display: flex;
  background: #000;
  justify-content: center;
  padding-top: 26.5%;
  padding-bottom: 26.5%;
  box-sizing: border-box;
  color: #fff;
}

.trailer-modal .close {
  background: #000;
  border: none;
  outline: none;
  z-index: 10;
  margin-left: auto;
  cursor: pointer;
}

.trailer-modal .content {
  width: 0px;
  transition: 0.5s;
}

.trailer-modal .iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  background-color: #000;
}

.trailer-modal .iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
