.secondary-navigation {
  display: flex;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-element {
  margin-right: 1.2rem;
}

.nav-element a {
  text-decoration: none;
  color: #fff;
}
