.side-drawer {
  height: 100%;
  background-color: rgb(20, 20, 20);
  color: #fff;
  width: 15%;
  min-width: 200px;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 999;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.1s ease-out;
}

.side-drawer.show {
  transform: translate3d(0, 0, 0);
}

.side-drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.side-drawer a {
  display: block;
  padding: 1rem 1rem 1rem 2rem;
  text-decoration: none;
  color: #fff;
}

.side-drawer a:hover {
  background-color: #fff;
  color: #000;
}
