.gallery {
  color: #fff;
  display: flex;
  flex-flow: column;
}

.gallery h2 {
  margin-left: 1rem;
}

.gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 500px) and (max-width: 799px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .gallery-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
